<h1>Add a Song</h1>
<hr/>

<% if @track.errors.any? %>
  <div>
    <strong>Some issues with your song, please fix them:</strong>
    <ul>
      <% @track.errors.full_messages.each do |track| %>
        <li><%= track %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="/tracks/new" method="post">
  <div>
    <label>Title:</label>
    <input type="text" name="title">
  </div>
  
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>

  <% if !@track.user_id.nil? %>
    <input type="hidden" name="user_id" value="<% session[:user_id] %>">
  <% end %>
  <div>
    <label>Url:</label>
    <input type="text" name="url">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>